.center{
    transform-style: preserve-3d;
    perspective: 1000px;
}

.frontFace, .backFace{
    height:100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 1s  cubic-bezier(.4, .2, .5, 1)
}
.backFace{
    background: rgb(240, 240, 240);
    top:0;
    width:100%;
    position: absolute;
    transform: rotateY(180deg);
    color: black;
}

.center.center:hover > .backFace{
    transform: rotateY(0deg)
}
.center.center:hover > .frontFace{
    transform: rotateY(-180deg)
}